section{
    font-weight: 500;
    font-family: 'Josefin Sans', sans-serif;
      color: #000000a9;;
      font-style: italic;
   
}
i{
    color: #f34949;
}
.text{
    color: #f34949;  
    font-size: 30px; 
}