<!-- <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
    <ul class="navbar-nav d-flex justify-content-between">
        <li class="nav-item only-desktop">
            <a class="nav-link" id="side-nav-open" href="#">
                <span class="lnr lnr-menu"></span>
            </a>
        </li>
        <div class="d-flex flex-lg-row flex-column">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="about.html">About</a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Special Dishes
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="special-dishes.html">Beef Steak Sauce</a>
                  <a class="dropdown-item" href="special-dishes.html">Salmon Zucchini</a>
                </div>
            </li>
        </div>
    </ul>
    
 
    <ul class="navbar-nav d-flex justify-content-between">
        <div class="d-flex flex-lg-row flex-column">
            <li class="nav-item active">
                <a class="nav-link" href="menu.html">Menu</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="team.html">Team</a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link" href="reservation.html">Reservation</a>
            </li>
        </div>
        <li class="nav-item">
            <a id="side-search-open" class="nav-link" href="#">
                <span class="lnr lnr-magnifier"></span>
            </a>
        </li>
    </ul>
</div> -->
<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid mx-5">
      <a class="navbar-brand" href="#">  
        <img class="logo " src="assets/logo.png" alt="">
    </a>
   
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarNav">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item mx-4">
            <a class="nav-link " aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item mx-4">
            <a class="nav-link" routerLink="menu" href="#">Menu</a>
          </li>
          <li class="nav-item mx-4" >
            <a class="nav-link" routerLink="team" href="#">Team</a>
           
          </li>
      
         
        </ul>
    
      </div>  
    </div>
  </nav>