<div class="container">
    <div class="row justify-content-center">
   <div class="text-center"><h1 class="foodmenu"></h1></div>  
      <div class="col-auto"  *ngFor="let item of productlist2">
        <div class="card"   >
          <img src="{{item.strMealThumb}}"     class="card-img-top" alt="..." />
    
          <div class="textofcard">
          
              <h5 class="card-title "> {{item.strMeal}}   </h5>
          
    
          
          
    
          </div>
        </div>
      </div>
     
    
    </div>
    </div>

    <!-- category food -->

   