
 

.bestsellers{
    margin: 50px;
    
    }
    .bestsellers > h1 > b {
      border-bottom: 5px solid rgb(241, 58, 58);
    }

    .foodmenu{
      text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 3px;
    color: #212529;
    font-style: italic;
   
    }
    .bestsellers > h1{
    
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 3px;
    color: #212529;
    font-style: italic;
    }
    .card{
      width: 250px;
      height: 350px;
      margin: 20px 4px;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
    }
    .card > img{
      height: 250px!important;
    }
    .card > img:hover{
      opacity: 0.9;
    }
    
    

    .textofcard{
    text-align: center;
 
  font-family: 'Kalam', cursive; 
  text-transform: uppercase;

 margin-top: 20px;
 padding: 20px;
    }
    
    .card-title{
      margin-top: 5px;
      font-weight: 400;
      font-size: 12px;
      letter-spacing: 5px;
    }
    .card-text{
      font-size: 12px;
      letter-spacing: 3px;
      font-family: 'Kalam', cursive;
      position: absolute;
      left: 50%;
    top: 87%;
    transform: translate(-50%, -50%);
    }
    
    .card-title > div > i {
    font-size: 5px;
      margin: 0px;
      padding: 0px;
    
    }
    .photos{
      margin-top: 130px;
    
     
    }
    .photos > div > img {
    width:40vw ;
    }
    .photos > div {
      display: flex;
      justify-content: center;
      align-items: center;
    flex-wrap: wrap;
    }
    .textphotos {
      width: 40vw;
      padding-left: 20px;
     
    }
    .textphotos > h1{
    font-weight: 400;
    }
    .textphotos > p {
      color: rgba(161,161,162,255);
    }
    .Shope{
      margin: 10px 0;
      border-radius: 50px;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
     
      font-family: 'Kalam', cursive;
      padding: 10px 20px;
    }
    .lastdiv{
      text-align: center;
      margin: 190px;
      
    }
    .lastdiv > p {
      color: rgba(161,161,162,255); 
    }
    @media screen and (max-width: 700px) {
      .photos > div > img {
        width:90vw ;
        }
        .textphotos {
          width: 90vw;
          padding-left: 20px;
         
        }
      .services {
        display: flex;
        padding: 15px;
        margin: 5px;
     
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        border-radius: 30px;
          width: 400px;
          margin-top: 10px;
          margin: 10px;
          }
    
      
      
        }
      